@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@500;600;700&display=swap');

:root {
  font-family: "Inter", sans-serif;
  color: #292629;
  background: #fcfaf7;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: #fcfaf7;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}